body {
  font-family: 'Heebo', sans-serif;
  background-color: palegoldenrod;
}

.App {
  text-align: center;
}
.title {
  margin-top: 10px;
}

.searchbar {
  box-sizing: border-box;
  width: 639px;
  height: 45px;
  border: 1px solid #bbb;
  margin-bottom: 20px;
  border-radius: 9px;
}
.emoji {
  text-align: left;
}
.card {
  font-size: 25px;
  text-align: left;
  background-color: palegoldenrod;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; 
}
.copy {
  padding: 10px;
}

